*{
    color: rgb(7, 1, 1);
    background: rgb(7, 200, 243);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#entradaCidade, #nomeCidade, #carafaEntrada,button{
    margin: 2px;
    padding:6px;
    text-align:center;
    font-size:18px;
    font-weight:bold;
}

#carafaTempo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 1260px;
    border: 5px solid 
    border-radius: 10px;
}

#carafaIconicos{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 240px;
    width: 1200px;    
    border: 5px solid rgb(31, 82, 82);    
    border-radius: 10px;
}

.iconicos{
    display: inline-bock;
    float: left;
    height: 200px;
    width: 190px;
    margin: 20px;
    border: 5px solid rgb(48, 47, 47);
    border-radius: 10px;
}

.foto{
    height: 140px;
    width: 100%;
}

.classFoto{
    height: 140px;
    width: 100%;
}

.temporada{
    margin: 5px;
    background-color: rgb(106, 215, 255);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.ventura{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}


.temperatura{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}


.humidade{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}


.indiceUltraVioleta{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}